.square {
    background-color: rgb(218, 182, 218);
    border: 1px solid rgb(42, 1, 41);
    height: 46px;
    width: 46px; 
}

.hover {
    background-color: rgb(77, 33, 70);
}

.row {
    display: flex; 
}

#container {
    margin: 0;
}
